<!-- footer -->
<footer class="bd-footer py-5 mt-5 bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12 mb-3">
                <a href="/"
                   class="d-flex justify-content-center align-items-center mb-2 link-dark text-decoration-none"
                   aria-label="Q&Aservice">
                    <!-- SVG (значок вопроса) -->
                    <div class="masthead-followup-icon d-inline-block mb-2 text-white">
                        {% include 'svg/question_icon.html.twig' %}
                    </div>
                    <span class="fs-5">Q&Aservice</span>
                </a>
                <ul class="list-unstyled small text-muted text-center">
                    <li class="mb-2">Разработанный и построенный со всей любовью в мире студентами группы ПМ-19-2.
                    </li>
                    <li class="mb-2">Богомолов Евгений и Сергеев Егор.</li>
                    <li class="mb-2">Вариант 2. QA - сервис вопросов и ответов.</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
