<!-- header -->
<header class="navbar navbar-expand-md navbar-dark bd-navbar">
    <nav class="container-xxl flex-wrap flex-md-nowrap">
        <a class="navbar-brand" href="/">
            <span class="brand-name">Q<span class="ampersand">&</span>A</span>service
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            {% if app.user %}
                <a href="/api"
                   class="btn btn-bd-download d-lg-inline-block my-2 my-md-0 ms-md-3">API</a>
                <button id="copyApiToken"
                        value="{{ app.user.apiToken }}"
                        class="btn btn-bd-download d-lg-inline-block my-2 my-md-0 ms-md-3">Получить API-ключ
                </button>
                <a href="/profile"
                   class="btn btn-bd-download d-lg-inline-block my-2 my-md-0 ms-md-3">{{ app.user.getName() }}</a>
                <a href="/add/question" class="btn btn-bd-download d-lg-inline-block my-2 my-md-0 ms-md-3">Оставить
                    вопрос</a>
                <a href="/logout" class="btn btn-bd-download d-lg-inline-block my-2 my-md-0 ms-md-3">Выход</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="/admin" class="btn btn-bd-download d-lg-inline-block my-2 my-md-0 ms-md-3">Админка</a>
                {% endif %}
            {% else %}
                <a href="/login" class="btn btn-bd-download d-lg-inline-block my-2 my-md-0 ms-md-3">Авторизация</a>
                <a href="/register" class="btn btn-bd-download d-lg-inline-block my-2 my-md-0 ms-md-3">Регистрация</a>
            {% endif %}
        </div>
    </nav>
</header>
